@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

div{
    height: 100vh;
}

.one{
    background-image: url("images/planet.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.oneone{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:25rem ;
}
h1{
    
    font-weight: bolder;
    color: #826aed;
    display: inline-block; 
    background-color: #3d0066;
    padding: 0 2rem;
    line-height: 5rem;
    letter-spacing: .5rem;
}

.two{
    background-image: url("images/space.jpg");
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family:' Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    position: relative;
    /* left: 50%; */
    left: 33%;
    top: 40%;
    width: 30%;
    color: #ebe0f5;
    font-size: 2.5rem;
}

.three{
    background-image: url("images/lone.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tp{
    text-align: center;
    font-size: 2.2rem;
    color: #cba9ef;
}